*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 50px auto 0;
}

h1{
    font-size:50px;
}

h2 {
    border : 3px solid #262525;
    width:20%;
    font-size: 100%;
}

.i {
    width: 20%;
    margin: auto;
    font-size : 40px;
    color: #262525;
    text-align: center;
    padding-top: 50px;
    transition: transform .2s; 
}

.i:hover{
    transform: scale(1.1);
}

a {
    color: #262525 ;
}




.container {
    display: grid;
    grid-template: repeat(3,100px)/repeat(3,100px);
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border: 2px solid #262525;
}

.cell{
    width: 100px;
    height: 100px;
    color: #262525;
    border: 2px solid #262525;
    cursor: pointer;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}